/* ───────────────────────────────────────────────────
<<< Annotation Tags
─────────────────────────────────────────────────── */
/* thanks to @atlas for the inspiration
https://discord.com/channels/686053708261228577/722584061087842365/898113745774084127 */

.theme-light {
	/* stylelint-disable-line no-duplicate-selectors */
	--annotation-tag-font-color: hsl(0 0% 13%);
}

.theme-dark {
	/* stylelint-disable-line no-duplicate-selectors */
	--annotation-tag-font-color: hsl(0 0% 100%);
}

/* all tags */
body:not(.annotation-tags-off) .tag[href='#question'],
body:not(.annotation-tags-off) .tag[href='#gap'],
body:not(.annotation-tags-off) .tag[href='#main'],
body:not(.annotation-tags-off) .tag[href='#disagree'],
body:not(.annotation-tags-off) .tag[href='#summary'],
body:not(.annotation-tags-off) .tag[href='#agree'],
body:not(.annotation-tags-off) .tag[href='#example'],
body:not(.annotation-tags-off) .tag[href='#definition'],
body:not(.annotation-tags-off) .tag[href='#method'],
body:not(.annotation-tags-off) .tag[href='#important'],
body:not(.annotation-tags-off) .tag[href='#quote'],
body:not(.annotation-tags-off) .tag[href='#todo'],
body:not(.annotation-tags-off) .tag[href='#critique'],
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-critique,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-todo,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-quote,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-method,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-disagree,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-gap,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-summary,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-definition,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-question,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-main,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-agree,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-important,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line span.cm-tag-example {
	font-weight: 900;
	font-style: normal;
	text-decoration: none;

	color: var(--annotation-tag-font-color);

	padding-right: 8px;
	padding-left: 8px;

	border-radius: var(--roundish);
}

/* annotation tags in longform notes */
body:not(.annotation-tags-off) .longform-leaf .tag[href='#question'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#gap'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#main'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#disagree'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#summary'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#agree'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#example'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#definition'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#method'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#important'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#quote'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#todo'],
body:not(.annotation-tags-off) .longform-leaf .tag[href='#critique'],
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-critique,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-todo,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-quote,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-method,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-disagree,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-gap,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-summary,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-definition,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-question,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-main,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-agree,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-important,
body:not(.annotation-tags-off) .longform-leaf .cm-s-obsidian .cm-line span.cm-tag-example {
	font-family: var(--longform-font);
	font-size: var(--longform-font-size);
}

/* the "#" */
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-critique,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-todo,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-quote,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-method,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-disagree,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-gap,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-summary,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-definition,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-question,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-main,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-agree,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-important,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-begin.cm-tag-example {
	white-space: nowrap;
	padding-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* the tag text */
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-critique,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-todo,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-quote,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-method,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-disagree,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-gap,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-summary,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-definition,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-question,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-main,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-agree,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-important,
body:not(.annotation-tags-off) .cm-s-obsidian .cm-line .cm-hashtag-end.cm-tag-example {
	font-family: var(--default-font); /* fixes their appearance in headings */
	padding-left: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

body:not(.annotation-tags-off) .cm-tag-todo,
body:not(.annotation-tags-off) .tag[href='#todo'] {
	background-color: rgb(218, 161, 4) !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-todo::before,
body:not(.annotation-tags-off) .tag[href='#todo']::before {
	content: '🔖 ';
}

body:not(.annotation-tags-off) .cm-tag-critique,
body:not(.annotation-tags-off) .tag[href='#critique'] {
	background-color: hsl(330 60% 50% / 50%);
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-critique::before,
body:not(.annotation-tags-off) .tag[href='#critique']::before {
	content: '☝️ ';
}

body:not(.annotation-tags-off) .cm-tag-question,
body:not(.annotation-tags-off) .tag[href='#question'] {
	background-color: rgb(214 172 20 / 50%) !important;
	color: white !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-question::before,
body:not(.annotation-tags-off) .tag[href='#question']::before {
	content: '🤔 ';
}

body:not(.annotation-tags-off) .cm-tag-quote,
body:not(.annotation-tags-off) .tag[href='#quote'] {
	background-color: hsl(86 100% 51% / 50%);
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-quote::before,
body:not(.annotation-tags-off) .tag[href='#quote']::before {
	content: '💬 ';
}

body:not(.annotation-tags-off) .cm-tag-important,
body:not(.annotation-tags-off) .tag[href='#important'] {
	background-color: rgb(255 120 15 / 50%) !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-important::before,
body:not(.annotation-tags-off) .tag[href='#important']::before {
	content: '❕ ';
}

body:not(.annotation-tags-off) .cm-tag-method,
body:not(.annotation-tags-off) .tag[href='#method'] {
	background-color: rgb(170 121 66 / 50%) !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-method::before,
body:not(.annotation-tags-off) .tag[href='#method']::before {
	content: '🔬 ';
}

body:not(.annotation-tags-off) .cm-tag-main,
body:not(.annotation-tags-off) .tag[href='#main'] {
	background-color: rgb(32 156 238 / 50%) !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-main::before,
body:not(.annotation-tags-off) .tag[href='#main']::before {
	content: 'Ⓜ️ ';
}

body:not(.annotation-tags-off) .cm-tag-gap,
body:not(.annotation-tags-off) .tag[href='#gap'] {
	background-color: rgb(128 128 128 / 50%) !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-gap::before,
body:not(.annotation-tags-off) .tag[href='#gap']::before {
	content: '🕳 ';
}

body:not(.annotation-tags-off) .cm-tag-summary,
body:not(.annotation-tags-off) .tag[href='#summary'] {
	background-color: rgb(255 120 15 / 50%) !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-summary::before,
body:not(.annotation-tags-off) .tag[href='#summary']::before {
	content: '✴️ ';
}

body:not(.annotation-tags-off) .cm-tag-definition,
body:not(.annotation-tags-off) .tag[href='#definition'] {
	background-color: rgb(217 188 77 / 50%) !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-definition::before,
body:not(.annotation-tags-off) .tag[href='#definition']::before {
	content: '💡 ';
}

body:not(.annotation-tags-off) .cm-tag-agree,
body:not(.annotation-tags-off) .tag[href='#agree'] {
	background-color: rgb(35 209 96 / 50%) !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-agree::before,
body:not(.annotation-tags-off) .tag[href='#agree']::before {
	content: '✅ ';
}

body:not(.annotation-tags-off) .cm-tag-disagree,
body:not(.annotation-tags-off) .tag[href='#disagree'] {
	background-color: rgb(255 56 96 / 50%) !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-disagree::before,
body:not(.annotation-tags-off) .tag[href='#disagree']::before {
	content: '⛔️ ';
}

body:not(.annotation-tags-off) .cm-tag-occlusion,
body:not(.annotation-tags-off) .tag[href='#occlusion'] {
	/*background-color: rgb(230 128 253 / 50%) !important;*/
	background-color: rgb(255 120 15 / 50%) !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-occlusion::before,
body:not(.annotation-tags-off) .tag[href='#occlusion']::before {
	content: '👾 ';
}

body:not(.annotation-tags-off) .cm-tag-example,
body:not(.annotation-tags-off) .tag[href='#example'] {
	background-color: rgb(230 128 253 / 50%) !important;
}

body:not(.annotation-tags-off) .cm-hashtag-begin.cm-tag-example::before,
body:not(.annotation-tags-off) .tag[href='#example']::before {
	content: '⚛️ ';
}
