/* ───────────────────────────────────────────────────
< Vault Launch Progress Bar
─────────────────────────────────────────────────── */

.progress-bar .progress-bar-message::before {
	content: var(--signature);
	font-size: calc(var(--empty-state-symbol-size) * 1.2);
	font-weight: 500;
	color: var(--text-normal);
}

.progress-bar .progress-bar-message {
	font-size: 0;
	margin-bottom: 40px;
}

.progress-bar {
	background-color: var(--bg2);
	backdrop-filter: blur(3px);
}

.progress-bar-indicator,
.progress-bar-indicator .progress-bar-subline,
.progress-bar-indicator .progress-bar-line {
	height: 16px;
	border-radius: var(--round);
}

.progress-bar-indicator .progress-bar-line {
	background-color: var(--bg3);
}

.progress-bar-indicator .progress-bar-subline {
	background-color: var(--scrollbar-bg-hover);
}
